<div class="grid gap-4 grid-cols-3"></div>
<div>
  <%= link_to "DL: Addition", math_addition_download_path(format: :pdf), class: "btn btn-primary", target: "_blank" %>
</div>
<div>
  <%= link_to "DL: Repeated Addition", math_addition_download_path(format: :pdf, type: :repeated_addition), class: "btn btn-primary", target: "_blank" %>
</div>
<div>
  <%= link_to "DL: Compare Numbers", math_compare_numbers_download_path(format: :pdf), class: "btn btn-primary", target: "_blank" %>
</div>
<div>
  <%= link_to "DL: Subtraction", math_subtraction_download_path(format: :pdf), class: "btn btn-primary", target: "_blank" %>
</div>
<div>
  <%= link_to "DL: Multiplication", math_multiplication_download_path(format: :pdf), class: "btn btn-primary", target: "_blank" %>
</div>
<div>
  <%= link_to "DL: Division", math_division_download_path(format: :pdf), class: "btn btn-primary", target: "_blank" %>
</div>
<div>
  <%= link_to "DL: Modulo", math_modulo_download_path(format: :pdf), class: "btn btn-primary", target: "_blank" %>
</div>
<div>
  <%= link_to "DL: Missing Random", math_missing_random_download_path(format: :pdf), class: "btn btn-primary", target: "_blank" %>
</div>
<div>
  <%= link_to "DL: Missing Addition", math_missing_addition_download_path(format: :pdf), class: "btn btn-primary", target: "_blank" %>
</div>
<div>
  <%= link_to "DL: Missing Subtraction", math_missing_subtraction_download_path(format: :pdf), class: "btn btn-primary", target: "_blank" %>
</div>
<div>
  <%= link_to "DL: Missing Multiplication", math_missing_multiplication_download_path(format: :pdf), class: "btn btn-primary", target: "_blank" %>
</div>
<div>
  <%= link_to "DL: Missing Division", math_missing_division_download_path(format: :pdf), class: "btn btn-primary", target: "_blank" %>
</div>
